.fields {
    border: 1px solid;
    margin-top: 30px;
}

.select-engine {
    padding-bottom: 40px;
}

.title {
    font-size: x-large;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.last-row {
    composes: row;
    justify-content: center;
}

.col {
    box-sizing: border-box;
    padding: 0 1rem 0 0.75rem;
    flex-grow: 1;
}

@media only screen and (max-width: 710px) {
    .col {
        width: 100%
    }
}

.unlock-button {
    margin-top: 1rem;
}